<div class="footer_inner d-flex justify-content-between align-items-center flex-wrap">
    <p class="footer_inner_title">Todwood &#169; 2024 ყველა უფლება დაცულია.<br><span>ვებ უზრუნველყოფა: <a href="https://nika-todua.netlify.app/" rel="nofollow" target="_blank">Nika Todua</a></span></p>
    <ul class="social_list">
        <li><a href="https://www.facebook.com/zaza.todua.1" title="social link" rel="nofollow" target="_blank"> <i class="bi bi-facebook"></i> </a></li>
        <li><a href="https://www.instagram.com/ztodua/" title="social link" rel="nofollow" target="_blank"> <i class="bi bi-instagram"></i> </a></li>
        <li><a href="https://wa.me/599587064" title="social link" rel="nofollow" target="_blank"> <i class="bi bi-whatsapp"></i> </a></li>
    </ul>
</div>
