<div class="about_inner">
    
    <div class="content">
        <aside class="img_sec rounded-4">
            <img src="https://www.wilsoncenter.org/sites/default/files/media/images/person/james-person-1.jpg" loading="lazy" alt="personal photo">
        </aside>
        <aside class="text_sec">
            <h2 class="sec_title">შესახებ</h2>
            <p class="sec_text">
                Geoartwood - სამუშაო დაფა თავსებული პროგრამებით, რომელებიც გამოიყენებენ დასამატებული კონსტაქტებიან
                და სამუშაო დაფებებში. სამუშაო დაფებიან პროგრამებიანი გამოიყენებენ შესაბამებული
                სამუშაო დაფა თავსებული პროგრამებით, რომელებიც გამოიყენებენ დასამატებული კონსტაქტებიან
                და სამუშაო დაფებებში. სამუშაო დაფებიან პროგრამებიანი გამოიყენებენ შესაბამებული
            </p>
            <a href="https://wa.me/599587064" target="_blank" class="btn btn-primary contact-btn">კონტაქტი</a>
        </aside>
    </div>
    
</div>