<section class="hero_inner">

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner mycarusel">
      <div *ngFor="let data of herosecimgArr" class="carousel-item {{data.class}}">
        <img [src]="data.img" loading="lazy" class="d-block w-100" [alt]="data.alt">
      </div>
    </div>
    
    <button class="carousel-control-prev mtcaruselBtn" aria-label="slider-btn" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span> <span class=" myArrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg></span>
    </button>
    <button class="carousel-control-next mtcaruselBtn" aria-label="slider-btn" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span> <span class="myArrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg></span>
    </button>
  </div>

</section>