@import "../variables.scss";

.hero_inner {
  position: relative;
  width: 100%;
  height: 100% !important;
  max-height: 830px !important;
  overflow: hidden;

  .mycarusel {
    height: 100% !important;
    height: 830px !important;
    min-height: 550px !important;
    max-height: 830px !important;

    .carousel-item {
      width: 100% !important;
      height: 100% !important;
      min-height: 550px !important;
      max-height: 830px !important;

      img {
        width: 100% !important;
        height: 100% !important;
        min-height: 550px !important;
        max-height: 830px !important;

        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        pointer-events: none;
        object-fit: cover;
      }
    }
  }

  .mtcaruselBtn {
    opacity: 1 !important;
    width: 35px;
    height: 35px;
    margin: auto;
    transform: rotate(45deg);
    background-color: $liteblue;
    border-radius: 3px !important;

    transition: 0.1s linear;
    overflow: hidden;

    &:hover {
      background-color: #0b5ed7;
    }
    span{
      pointer-events: none !important;
    }

    &:nth-child(2) {
      margin-left: 5%;

      .myArrow {
        svg {
          transform: rotate(-45deg);
        }
      }
    }

    &:nth-child(3) {
      margin-right: 5%;

      .myArrow {
        svg {
          transform: rotate(-45deg);
        }
      }
    }

    .myArrow {
      opacity: 1 !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;

      svg {
        width: 44px;
        height: 44px;
        fill: $white !important;
        pointer-events: none !important;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .hero_inner {
    .mycarusel {
      height: 700px !important;

      .carousel-item {
        max-height: 700px !important;

        img {
          min-height: 700px !important;
          max-height: 700px !important;
        }
      }
    }

    .mtcaruselBtn {
      width: 30px !important;
      height: 30px !important;

      &:hover {
        background-color: $liteblue !important;
      }

      &:nth-child(2) {
        margin-left: 4% !important;
      }

      &:nth-child(3) {
        margin-right: 4% !important;
      }

      .myArrow {
        svg {
          width: 36px !important;
          height: 36px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .hero_inner {
    .mycarusel {
      height: 590px !important;

      .carousel-item {
        max-height: 590px !important;

        img {
          min-height: 590px !important;
          max-height: 590px !important;
        }
      }

    }
  }
}

@media screen and (max-width: 575px) {
  .hero_inner {
    .mycarusel {
      height: 100% !important;
      height: 480px !important;
      max-height: 480px !important;
      min-height: 480px !important;

      .carousel-item {
        width: 100% !important;
        height: 480px !important;
        min-height: 480px !important;

        img {
          width: 100% !important;
          height: 480px !important;
          min-height: 480px !important;
          object-fit: cover;
        }
      }
    }
  }
}
