@import "./variables.scss";

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
.cont{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}
header{
    position: fixed;
    width: 100%;
    background-color: $dark;
    box-shadow: 0 0 10px rgb(48, 48, 48);
    z-index: 999;
}
main{
    position: relative;
    width: 100%;
    height: auto;
    background-color: $dark;
}