$font-ge: "BPG Nino Mtavruli Bold", sans-serif !important;
$black: hsl(0, 0%, 0%);
$blue: hsl(207, 96%, 42%);
$litegreen: hsl(133, 84%, 55%);
$white: hsl(0, 0%, 100%);
$darkblue: hsl(220, 85%, 29%);
$dark: hsl(0, 0%, 16%);
$orange: hsl(18, 100%, 56%);