@import "../variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact_inner {
  padding-top: 25px;
  padding-bottom: 80px;
  width: 100%;
  height: auto;

  &_title {
    font-family: $font-ge;
    font-size: 32px;
    color: $litegreen;
  }

  &_content {
    margin-top: 60px;
    height: auto;
    aside {
      width: fit-content;

      .contact_info {
        position: relative;
        width: fit-content;
        height: auto;

        &_box {
          width: 100%;
          height: 80px;

          .icon {
            position: relative;
            width: 60px;
            aspect-ratio: 1/1;
            height: auto;
            background-color: $blue;

            svg {
              width: 28px;
              height: 28px;
              fill: $white;
            }
          }

          &:nth-child(2) {
            .icon {
              background-color: $orange !important;
            }
          }

          .title {
            font-family: $font-ge;
            font-size: 18px;
            color: rgb(160, 160, 160);
          }

          p {
            font-family: $font-ge;
            font-size: 20px;
            color: $white;
          }
        }
      }

      &:nth-child(2) {
        width: 60%;
        max-width: 800px;

        iframe {
          margin: 0;
          padding: 0;
          min-width: 500px;
          max-width: 800px;
          height: 500px;
          user-select: none;
        }
      }
    }
  }

}

@media screen and (max-width: 890px) {
  .contact_inner {
    position: absolute;
    position: relative;
    right: 6.7%;
    width: 113.5%;
    &_title {
      width: 90%;
      margin: 0 auto;
      font-size: 28px;
    }

    &_content {
      flex-wrap: wrap;

      aside {
        margin: 0 auto;
        &:nth-child(1){
          width: 90%;
        }
        .contact_info {
          width: 100%;
        }

        &:nth-child(2) {
          margin-top: 50px;
          width: 100%;
          max-width: none;

          iframe {
            width: 100%;
            max-width: none;
            min-width: 0 !important;
            height: 400px;
            max-height: 400px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .contact_inner {
    &_content {
      aside {
        .contact_info {
          &_box {
            .icon {
              width: 50px;
              height: auto;
              min-width: 50px;
              min-height: 50px;

              svg {
                width: 22px;
                height: 22px;
                fill: $white;
              }
            }

            .title {
              font-size: 16px;
              color: rgb(160, 160, 160);
              font-family: $font-ge;
            }

            p {
              font-size: 18px;
              font-family: $font-ge;
              color: $white;
            }
          }
        }
      }
    }

  }
}
@media screen and (max-width: 330px){
  .contact_inner {
    &_title {
      width: 95%;
    }
    &_content {
      aside {
        &:nth-child(1){
          width: 95%;
        }

        .contact_info {
          width: 100%;
          .txt{
            p{
              font-size: 16px;
            }
          }
        }
      }
    }

  }
}