<section class="contact_inner">
    <h2 class="contact_inner_title">კონტაქტი</h2>
    <div class="contact_inner_content d-flex justify-content-between align-items-center w-100">
        <aside class="text_cont">
            <div class="contact_info">
                <div class="contact_info_box d-flex justify-content-start align-items-center gap-3">
                    <div class="icon rounded-2 d-flex justify-content-center align-items-center">
                        <i class="bi bi-geo-alt-fill"></i>
                    </div>
                    <div class="txt">
                        <p class="title">მისამართი</p>
                        <p>1 ევგენი ხარაძის ქუჩა</p>
                    </div>
                </div>
                <div class="contact_info_box d-flex justify-content-start align-items-center gap-3">
                    <div class="icon rounded-2 d-flex justify-content-center align-items-center">
                        <i class="bi bi-telephone-fill"></i>
                    </div>
                    <div class="txt">
                        <p class="title">ტელეფონი</p>
                        <p>+995 599 58 70 64</p>
                    </div>
                </div>
            </div>
        </aside>
        <aside class="map-cont d-flex align-items-center justify-content-center"> <iframe src="" class="w-100 rounded-2" title="location map" style="border: none; outline: none;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </aside>
    </div>
</section>