@import "../variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.splide__pagination--ltr {
  display: none !important;
  pointer-events: none !important;
  visibility: hidden !important;
}

.myarrews {
  position: absolute;
  position: relative;
  top: 28px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: end;

  .myarrews-btn {
    width: 35px;
    height: 35px;
    background-color: $blue;

    i {
      margin-bottom: 1px;
      font-size: 24px;
    }
  }
}

.cotage_inner {
  padding-top: 25px;
  padding-bottom: 70px;
  height: auto;

  &_title {
    font-family: $font-ge;
    font-size: 32px;
    color: $litegreen;
  }

  .splide {
    margin: 65px auto 0 auto;
    width: 100%;
    height: 500px;

    .splide__track {
      position: relative;
      height: 100%;
      display: flex;

      .splide__list {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: grab;

        &:active {
          cursor: grabbing;
        }

        .splide__slide {
          position: relative;
          overflow: hidden;


          &:hover {
            img {
              transform: scale(1.1);
            }
          }

          img {
            aspect-ratio: 4/5;
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: 0.5s ease;
            user-select: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .cotage_inner {
    .splide {
      .splide__track {
        .splide__list {
          .splide__slide {
            &:hover {
              img {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 859px) {
  .cotage_inner {
    .splide {
      max-height: 435px !important;

      .splide__list {
        .splide__slide {
          max-height: 435px !important;
        }
      }
    }
  }
}
