@import "../variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cotage_inner {
  position: relative;
  padding-top: 20px;
  width: 100%;
  height: 800px;

  &_title {
    font-family: $font-ge;
    font-size: 32px;
    color: $litegreen;
  }

  .swiper {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

    &-slide {
      aspect-ratio: 4/5;
      text-align: center;
      font-size: 18px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s ease;
        user-select: none;
      }
    }
  }

}

@media screen and (max-width: 1023px) {
  .cotage_inner {
    .swiper {
      &-slide {
        &:hover {
          img {
            transform: scale(1);
          }
        }
      }
    }

  }

}
