@import "../variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.arrews{
  position: absolute;
  margin-top: 20px;
  right: 20px;
  width: fit-content;
  height: 40px;
  display: flex;
  gap: 10px;
  z-index: 99;

  label{
    width: 40px;
    height: 40px;
    background-color: green;
    cursor: pointer;
    user-select: none;
    
    svg{
      display: block;
      width: 30px;
      height: 30px;
      fill: $white;
      pointer-events: none;
    }
  }
}
.cotage_inner {
  padding-top: 25px;
  padding-bottom: 70px;
  height: auto;

  &_title {
    font-family: $font-ge;
    font-size: 32px;
    color: $litegreen;
  }

  .swiper {
    margin: 60px auto 0 auto;
    width: 97.8%;
    height: 500px;
    overflow: hidden;

    &-slide {
      aspect-ratio: 4/5;
      text-align: center;
      font-size: 18px;
      overflow: hidden;
      cursor: grab;

      &:active {
        cursor: grabbing;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      img {
        height: 100%;
        transition: 0.5s ease;
        user-select: none;
      }
    }
  }

}

@media screen and (max-width: 1023px) {
  .cotage_inner {
    .swiper {
      &-slide {
        &:hover {
          img {
            transform: scale(1);
          }
        }
      }
    }

  }
}

@media screen and (max-width: 859px) {
  .cotage_inner {
    .swiper {
      max-height: 435px !important;
    }

  }
}
