/* You can add global styles to this file, and also import other style files */
@import "./app/variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden !important;
}

.cont {
  position: relative;
  margin: 0 auto;
  max-width: 1480px;
  width: 88%;
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  background-color: $dark;
  box-shadow: 0 0 10px rgb(48, 48, 48);
  z-index: 999;
}

main {
  position: relative;
  width: 100%;
  height: auto;
  background-color: $dark;
}

footer {
  position: relative;
  border-top: 1px solid rgb(105, 105, 105);
  width: 100%;
  height: auto;
  background-color: $dark;

}
