<section class="sauna_inner position-relative w-100">
  <h2 class="sauna_inner_title">საუნები</h2>

  <section class="splide mysplider2" aria-labelledby="carousel-heading">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna1.jpeg" loading="lazy" alt="sauna 1"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna2.jpeg" loading="lazy" alt="sauna 2"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna3.jpeg" loading="lazy" alt="sauna 3"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna4.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna5.jpeg" loading="lazy" alt="sauna 5"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna6.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna7.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna8.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna9.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna10.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna11.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna12.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna13.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna14.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna15.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna16.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna17.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna18.jpg" loading="lazy" alt="sauna 4"> </li>
      </ul>
      <ul class="splide__pagination"></ul>
    </div>
  </section>
  
</section>
