@import "../variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.sauna_inner {
  padding-top: 25px;
  padding-bottom: 70px;
  height: auto;

  &_title {
    font-family: $font-ge;
    font-size: 32px;
    color: $litegreen;
  }
}

.swiper {
  margin: 65px auto 0 auto;
  width: 97.8%;
  height: 500px;
  overflow: hidden;

  &-slide {
    aspect-ratio: 4/5;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    img {
      height: 100%;
      transition: 0.5s ease;
      user-select: none;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .swiper {

    &-slide {

      &:hover {
        img {
          transform: scale(1);
        }
      }
    }
  }
}

@media screen and (max-width: 859px) {
  .swiper {
    max-height: 435px !important;

    &-slide {

      &:hover {
        img {
          transform: scale(1);
        }
      }
    }
  }

}
