<section class="sauna_inner position-relative w-100">
  <h2 class="sauna_inner_title">საუნები</h2>

  <div class="myarrews">
    <label for="Previous-2847652" class="myarrews-btn d-flex justify-content-center align-items-center rounded-0" type="button" style="color:#fff;">
      <i class="bi bi-caret-left-fill"></i>
    </label>
    <label for="Next-48483737" class="myarrews-btn d-flex justify-content-center align-items-center rounded-0" type="button" style="color:#fff;">
      <i class="bi bi-caret-right-fill"></i>
    </label>
  </div>

  <section class="splide mysplider2" aria-labelledby="carousel-heading">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna1.jpeg" loading="lazy" alt="sauna 1"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna2.jpeg" loading="lazy" alt="sauna 2"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna3.jpeg" loading="lazy" alt="sauna 3"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna4.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna5.jpeg" loading="lazy" alt="sauna 5"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna6.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna7.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna8.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna9.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna10.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna11.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna12.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna13.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna14.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna15.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna16.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna17.jpeg" loading="lazy" alt="sauna 4"> </li>
        <li class="splide__slide rounded-3"> <img src="../../../assets/img/sauna/sauna18.jpg" loading="lazy" alt="sauna 4"> </li>
      </ul>
    </div>
    <div class="splide__arrows splide__arrows--ltr">
      <button class="splide__arrow splide__arrow--prev d-none" id="Previous-2847652" type="button" aria-label="Previous slide" aria-controls="splide01-track"></button>
      <button class="splide__arrow splide__arrow--next d-none" id="Next-48483737" type="button" aria-label="Next slide" aria-controls="splide01-track"></button>
    </div>
    <ul class="splide__pagination"></ul>
  </section>
  
</section>
