<section class="sauna_inner position-relative w-100">
  <h2 class="sauna_inner_title">საუნები</h2>

  <div class="swiper mySwiper rounded-3 d-flex justify-content-start align-item-center position-relative">
    <div class="swiper-wrapper">
      <div *ngFor="let data of saunacaruselarr" class="swiper-slide d-flex justify-content-center align-item-center rounded-3"> <img [src]="data.img_big" class="w-100 d-block object-fit-cover" loading="lazy" alt="საუნა"> </div>
    </div>
    
  </div>

</section>
